  <div class="container-fluid earlybird">
    <div class="container">
      <div class="alert">

        {% if page.url contains "/en/" or page.url == "/" %} 
         <a href="./">PyCon Iran 2022 will be announced soon!</a>
        {% endif %}
        
         {% if page.url contains "/fa/" %}
          <a href="./">!کنفرانس پایکان ایران ۱۴۰۱ به زودی اطلاع‌رسانی خواهد شد</a>
         {% endif %}
        
      </div>
    </div>
  </div>



<div class="u-rows-1 u-hbox u-items-center u-justify-space-between container-fluid u-center">
  <div class="u-title-medium u-hpad u-hbox u-items-center u-cols-4" style="margin:auto">
    <a href="/2022/" style="width: 200px; height: auto; text-decoration: none" title="PyCon Iran">PyCon Iran</a>
    
    <div class="u-hskip-half"></div>
    <a href="/2022/" class="link-color-inherit" style="text-decoration: none;">
        <sup class="u-title-large u-futura badge" style="font-size:22px; margin-top: 8px;">2022</sup>
    </a>
  </div>
  <div class="u-futura u-uppercase previous-editions-menu" style="margin:auto">
  Previous Edition: 
    <a href="/2021/">2021</a>
    
    
    <div class="u-hskip-half"></div>
    <a href="/2022/fa{{ page.url | remove: "/en" }}"><strong>فارسی</strong></a>
</div>
</div>



